%b Ostoskorin sisältö:
-if @sisalto.empty?
  %br Kori on tyhjä
-else
  %a{:href=>"/kori/tyhjennys"} Tyhjennä kori
  %table
    -@sisalto.each do |tuote|
      %tr
        %td= tuote[:nimi]
        %td= tuote[:hinta]
        -if tuote[:onko_lisukkeet]
          %td 
            -tuote[:lisukkeet].each do |i|
              = @lisukkeet[i]
          %td
            %form{:method=>'post', :action=>"/kori/lisaa_lisuke/#{tuote[:indeksi]}"}
              %select{:name=>'lisuke'}
                -@lisukkeet.each do |id,lisuke|
                  %option= lisuke
              %input{:type=>'submit', :value=>'lisää'}
        %td
          %a{:href=>"/kori/poista/#{tuote[:indeksi]}"}poista tuote
    %tr
      %td Summa
      %td= @summa
  %a{:href=>"/tilaa"} Tilaa Tuotteet
