%br= @tilaus['nimi']
%br= "Toimitusaika: #{@tilaus['toimitusaika'].strftime("%H:%M")}"
%br= @tilaus['kotiinkuljetus']?'Kotiinkuljetus':'Nouto'
%br 
  Tilauksen tila:
  %b= @tila['kuvaus']
%br
%b Tuotteet
%table
  -@ostokset.each do |ostos|
    %tr
      %td= @tuote_idt[ostos['tuote_id']]
%p
  Jos toimitukseen on yli puoli tuntia voi tilauksen perua
-if @erotus>=30
  %a{:href=>'/peru'} Peru tilaus
  
